<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Dosis:wght@200&family=Fredoka+One&family=Noto+Sans+JP:wght@100;300&family=Noto+Sans+Vai&display=swap" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" style="font-size: 35px; font-family: 'Alfa Slab One', cursive; color: gold;" href="#">Álbum Qatar 2022</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" style="font-size: 35px;" aria-current="page" href="/segundaPagina">HomePage</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <button class="btn btn-outline-warning" style="font-size: 20px;" (click)="CerrarSesion()" type="submit">Log out</button>
        </form>

      </div>
    </div>
  </nav>
